body {
	background-color: #bfd2e1;
	background-image: url(skyline.png);
	background-repeat: repeat-x;
	font-family: Arial, sans-serif;
}

#container { /* to center the text on the page */
	width: 80%;
	margin: 0 auto;
}
h1, h2, h3 {
	font-family: "Arial Black", Arial, sans-serif;
	font-weight:900;
}
h1 {
 	color: rgba(255,255,255,.8); /* slightly transparent */ 
	font-size: 60px;
	text-align:center;
	margin: 134px 0 50px 0; /* sit on the skyline ground line */
}
h2 {
	color: rgba(187,127,103,.5);
	font-size: 50px;
	border-bottom:2px solid rgba(191,161,149,.5);
	display:inline; /* so border doesn't extend across screen */
}
h3{
	font-size: 20px;
	color: rgba(0,0,0,.3);
}
p, li {
	color: #0f1e29;
	font-size: 14px;
	line-height:150%;
	margin: 10px 40px 20px 2px;	
}
strong{
	font-weight:normal;
	padding: 1px 6px;
/*	border:1px solid  #91A1AD;*/
  background-color: #ABBCC9;
	border-radius: -webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;;
}
ul {
	margin: 0 0 0 -20px;
}
li {
	line-height:20%;
	list-style-type: circle;
}
a {
	font-size: 15px;	
	color: #A66145;
	text-decoration: none;
	font-weight:900;
}
h1 + h3 {
	text-align: center;
}
